<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= page_title %> / <%= OpenConferenceWare.organization %>: <%= OpenConferenceWare.tagline %></title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="<%= OpenConferenceWare.tagline %>">
  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tag %>
  <%= yield :meta %>

  <!-- Feeds -->
  <%= auto_discovery_link_tag(:atom, proposals_path(:format => :atom), :title => "#{OpenConferenceWare.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, comments_path(:format => :atom, :secret => OpenConferenceWare::CommentsController::SECRET), :title => "#{OpenConferenceWare.organization}: Proposals comments feed") %>
  <% end %>

  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'open_conference_ware/ie' %>
  <![endif]-->


  <%= javascript_include_tag 'open_conference_ware/application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :scripts -%>

  <% expose_to_js( :current_user, logged_in? ? current_user.id : false ) -%>
  <% expose_to_js( :authenticity_token, form_authenticity_token ) if protect_against_forgery? -%>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
<%=       indent_block( yield(:javascript_expose_values), 3) -%>
<%=       indent_block( yield(:javascript_on_ready), 3) -%>
    });
  </script>
</head>
<body>

<div id='outer-wrapper'>
  <div id='wrap2'>
    <!-- skip links for text browsers -->
    <span id='skiplinks' style='display:none;'>
      <a href='#main'>skip to main </a> |
      <a href='#sidebar'>skip to sidebar</a>
    </span>
    <div id='header-wrapper'>
      <div class='header section' id='header'>
        <div class='widget Header' id='Header1'>
          <div class='titlewrapper' style='background: transparent'>
            <a href='http://ignitecorvallis.com/' id='header-inner' style='display:block; background-image: url("http://3.bp.blogspot.com/__DzYR3a_gKY/SXbkqPmOGsI/AAAAAAAAC7Y/cV2K4nVBrY8/S1600-R/header_ignite2.jpg"); background-repeat: no-repeat; width: 950px; height: 217px;'>
            </a>
          </div>
        </div>
      </div>
      <div id='menu'>
        <ul>
        <li><a href='http://ignitecorvallis.com/2008/10/what-is-ignite.html'>About</a></li>
        <li><a href='http://ignitecorvallis.com/search/label/video%20examples'>Watch</a></li>
        <li><a href='http://proposals.ignitecorvallis.com/'>Proposals</a></li>
        <li><a href='http://ignitecorvallis.com/search/label/agenda'>Agenda</a></li>
        <li><a href='http://ignitecorvallis.com/2008/02/sponsorships.html'>Sponsors</a></li>
        <li><a href='http://ignitecorvallis.com/2008/10/directions.html'>Directions</a></li>
        </ul>
      </div>
    </div>
    <div id='content-wrapper'>
      <div id='main-wrapper'>
        <div class="content">
          <div id="primary-wrapper">
            <div id="primary">
              <a name="startcontent" id="startcontent"></a>
              <div id="dynamic-content">

                <div id="breadcrumbs">
                  <% if @breadcrumbs %>
                    <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
                      <% txt, path = breadcrumb %>
                      <% if i > 0 %>
                        &#187;
                      <% end %>
                      <%= link_to(h(txt), path) %>
                    <% end %>
                  <% end %>
                </div>

                <div id="rollingcontent" class="hfeed">
                  <div class="hentry post publish alt">
                    <div class="entry-head">
                      <h3 class="post-title entry-title"><a><%= page_title %></a></h3>
                    </div>
                    <div class="entry-content">
                      <%# flash[:success] = "This test is for testing the notifications." %>
                      <%# flash[:failure] = "This test is for testing the notifications." %>
                      <%# flash[:notice] = "This test is for testing the notifications." %>
                      <%= notice %>
                      <%= yield %>
                    </div>
                  </div>
                </div><!-- #rollingcontent .hfeed -->
              </div><!-- #dynamic-content -->
            </div><!-- #primary -->
          </div><!-- #primary-wrapper -->
        </div>
      </div>
      <div id='sidebar-wrapper'>
        <div class='sidebar section' id='sidebar'>
          <div class='widget Feed' id='Feed2'>
            <div id="login-as" class="hoverable widget module module1 sb-login alt">
              <h2>Welcome</h2>
              <ul>
                <% if logged_in? %>
                  <li><%= current_user.email || current_user.label %></li>
                  <% if admin? %>
                    <li><%= link_to "Manage events", manage_events_path %></li>
                    <li><%= link_to "Manage snippets", manage_snippets_path %></li>
                    <li><%= link_to "Manage comments", comments_path %></li>
                    <% if @event %>
                      <li><%= link_to "Export CSV", "/events/#{@event.id}/proposals.csv" %></li>
                    <% end %>
                  <% else %>
                    <% if @event.accepting_proposals? %>
                      <li>
                        <%= link_to "Submit a proposal <span class='addable' />", new_event_proposal_path(@event) %>
                      </li>
                    <% end %>
                  <% end %>
                  <li><%= link_to "Sign out", sign_out_path %></li>
                <% else %>
                  <li><%= link_to "Sign in to manage your proposals", sign_in_path %></li>
                  <% if @event.accepting_proposals? %>
                    <li>
                      <%= link_to "Submit a proposal <span class='addable' />", new_event_proposal_path(@event) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>

            <div id="subscribe-to" class="hoverable widget module module1 sb-subscribe alt">
              <h2>Subscribe to</h2>
              <ul>
              </ul>
            </div>

            <div id="proposals-for" class="hoverable widget module module1 sb-proposals alt">
              <h2>Proposals for</h2>
              <ul>
                <% if @events.blank? %>
                  <li class="empty-text">&mdash; No events &mdash;</li>
                <% else %>
                  <% for event in @events %>
                    <li><%= link_to event.title, event_proposals_path(event) %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id='footer-wrapper'>
        <div class='footer section' id='footer'></div>
        <a href='http://ignitecorvallis.com/'>Ignite Corvallis</a> &#169; 2009-<%= Date.today.year %> | Design Customized by <a href='http://www.proworks.com'>ProWorks</a>
      </div>
    </div>
  </div>
  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
</div><!-- end outer-wrapper -->
</body>
</html>
