<div class="auth-provider">
  <h3>OpenID</h3>

  <% return_to ||= nil %>
  <%= form_tag(auth_path(:open_id), :id => "openid_form", :class => "standard-form") do %>
    <% if return_to %>
      <%= hidden_field_tag :return_to, return_to %>
    <% end %>
    <fieldset>
      <div id="openid_choice">
        <p>Please click your account provider:</p>
        <div id="openid_btns"></div>
      </div>
      <div id="openid_input_area">
        <%= text_field_tag "openid_url", "http://", :id => "openid_url" %>
        <%= submit_tag 'Log in' %>
      </div>
      <noscript>
        <p><%= snippet_for :login_openid_text %></p>
      </noscript>
    </fieldset>
    <p>
      <span class="rightish">
        &nbsp;
      </span>
      &nbsp;
      <!-- BEGIN ID SELECTOR -->
      <script type="text/javascript">
        $(document).ready(function() {
          openid.img_path = '/openid-images/';
          openid.init('openid_url');
        });
      </script>
      <!-- END ID SELECTOR -->
    </p>
  <% end %>
</div>
